In [11]:
import pandas as pd
import psycopg2
from psycopg2.extras import execute_values

## Database configuration
DB_CONFIG = {
    "host":"localhost",
    "database":"Sales_DB",
    "user":"postgres",
    "password":"Postgr@0909",
    "port":5432
}
### Extract Read_csv:
df = pd.read_csv("Product_Data_set1.csv")
print("Product_data:")
print(df)

## Load - Insert into postgreSQL
conn = psycopg2.connect(**DB_CONFIG)
cur = conn.cursor()

## Insert Data (Efficient Way)'
records = df.to_records(index=False).tolist()

## Insert Data (Efficient way)
insert_query = """
INSERT INTO product_db(orderdate,order_number,quantity_ordered,price_each,product_name,product_line,buy_price
,city,country,sales_values,cost_of_sales,net_profit,total_revenue) VALUES %s
ON CONFLICT (order_number) DO NOTHING;
"""
execute_values(cur, insert_query,records)
conn.commit()
cur.close()
conn.close()

print("\n Data successfully loaded into postgresSQL!")

Product_data:
      orderDate  orderNumber  quantityOrdered  priceEach  \
0    2004-01-02        10208               46     176.63
1    2004-01-02        10208               26     128.42
2    2004-01-02        10208               20     152.26
3    2004-01-02        10208               24     117.47
4    2004-01-02        10208               48      96.81
..          ...          ...              ...        ...
995  2004-11-01        10316               44      68.11
996  2004-11-01        10316               34      43.70
997  2004-11-02        10317               35      69.55
998  2004-11-02        10318               46      84.22
999  2004-11-02        10318               45     102.29

                               productName   productLine  buyPrice  \
0                        2001 Ferrari Enzo  Classic Cars     95.59
1                       1969 Corvair Monza  Classic Cars     89.14
2                         1969 Ford Falcon  Classic Cars     83.05
3                        1903 Ford Model A  Vintage Cars     68.30
4                 Collectable Wooden Train        Trains     67.56
..                                     ...           ...       ...
995              American Airlines: MD-11S        Planes     36.27
996                       Boeing X-32A JSF        Planes     32.77
997                1900s Vintage Tri-Plane        Planes     36.23
998  1969 Harley Davidson Ultimate Chopper   Motorcycles     48.81
999                  1996 Moto Guzzi 1100i   Motorcycles     68.99

           city country  Sales Value  Cost of Sales  Net Profit  Total_Revenue
0          Lyon  France         8125        4397.14     3727.84        8124.98
1          Lyon  France         3339        2317.64     1021.28        3338.92
2          Lyon  France         3045        1661.00     1384.20        3045.20
3          Lyon  France         2819        1639.20     1180.08        2819.28
4          Lyon  France         4647        3242.88     1404.00        4646.88
..          ...     ...          ...            ...         ...            ...
995       Cowes      UK         2997        1595.88     1400.96        2996.84
996       Cowes      UK         1486        1114.18      371.62        1485.80
997  Burlingame     USA         2434        1268.05     1166.20        2434.25
998   Allentown     USA         3874        2245.26     1628.86        3874.12
999   Allentown     USA         4603        3104.55     1498.50        4603.05

[1000 rows x 13 columns]

 Data successfully loaded into postgresSQL!

In [14]:
df.dtypes

orderDate           object
orderNumber          int64
quantityOrdered      int64
priceEach          float64
productName         object
productLine         object
buyPrice           float64
city                object
country             object
Sales Value          int64
Cost of Sales      float64
Net Profit         float64
Total_Revenue      float64
dtype: object